* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v11_8 {
  width: 161px;
  height: 259px;
  background: url("../images/v11_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_3 {
  width: 161px;
  height: 259px;
  background: rgba(133,41,172,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v10_2 {
  width: 161px;
  height: 100px;
  background: rgba(189,77,237,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}
.v10_3 {
  width: 13px;
  height: 210px;
  background: rgba(236,194,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 36px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v8_4 {
  width: 42px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 6px;
  left: 59px;
  font-family: Jomhuria;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
.v10_4 {
  width: 20px;
  height: 20px;
  background: rgba(233,15,15,1);
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 40px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;
}
.v10_7 {
  width: 9px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 34px;
  font-family: Jomhuria;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: left;
}
