name: Deploy to InfinityFree

on:
  push:
    branches:
      - main  # si ta branche s'appelle master, change main en master

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Upload website via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
      - name: Debug - list files in site
        run: ls -R site

        with:
          server: ftpupload.net
          username: if0_40433041
          port: 21  
          password: Almax1202
          server-dir: /htdocs
          local-dir: site
