name: Deploy to InfinityFree

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      # Étape debug pour voir les fichiers
      - name: Debug - list files in site
        run: ls -R site

      # Étape upload FTP
      - name: Upload website via FTP
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: ftpupload.net      # serveur FTP
          port: 21                   # port FTP
          username: if0_40433041     # ton username FTP
          password: Almax1202        # ton password FTP
          server-dir: /htdocs        # dossier cible sur InfinityFree
          local-dir: site            # dossier local à envoyer

